.navbar{
 background-color: black;
 color: white;
 padding:9px;
 overflow: hidden;
}
.nav-item{
    color: white;
    text-decoration: none;
  float: right;
  padding: 13px;
  font-size: 18px;
}
.nav-item-select{
    background-color: white;
    color: black;
    border-radius: 7px;
}
.header{
  position:absolute;
  margin-left: 13px;
  font-size: 18px;
  display: inline;
}
.login{
  
  background-color: black;
  /* margin-top: 135px; */
  display: block;
  margin: 135px auto;
  padding: 33px;
  width: 250px;
}
input{
  padding: 8px;
  display: block;
  margin: 10px auto;
}
button{
  display: block;
  background-color: white;
  margin: 0px auto;
  width: 135px;
  padding: 6px;
}
a{
  color: white;

}
.home{
  background-color: black;
  /* margin-top: 135px; */
  display: block;
  margin: 150px auto;
  padding: 23px;
  width: 250px;
}
.home-btn{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin:30px auto;
}